Repository AberystwythSystemsBiology/limbus, pull requests merged in 2022-02, with the labels that each got.

#149 Fix/required fixes
  services/web/app/errors/__init__.py
  services/web/app/sample/forms/add.py
  services/web/app/sample/forms/new/one.py
Labels: limbus/backend

#153 Made Donor Consent Form Consistent
  services/web/app/static/js/donor/donor_consent_questionnaire.js
  services/web/app/static/js/sample/information/add/consent.js
  services/web/app/templates/sample/add/step_two.html
Labels: limbus/frontend

#154 Added password generation to the setup command
  services/web/app/commands/setup.py
Labels: limbus/backend

#157 Added ability to remove file.
  services/web/app/document/api.py
  services/web/app/document/forms.py
  services/web/app/document/routes.py
  services/web/app/templates/document/file/remove.html
  services/web/app/templates/document/view.html
  services/web/app/templates/donor/index.html
Labels: limbus/backend, limbus/frontend, limbus/modules/document, limbus/modules/donor

#165 fix/document-download
  services/web/app/document/api.py
  services/web/app/document/routes.py
Labels: limbus/backend

#170 Fix/racktoshelf
  services/web/app/admin/routes/audit.py
  services/web/app/auth/api.py
  services/web/app/misc/api.py
Labels: limbus/backend

#184 Removed _blank tabs
  services/web/app/static/js/all.js
  services/web/app/static/js/donor/diagnosis/assign.js
  services/web/app/static/js/donor/view.js
  services/web/app/static/js/sample/disposal/disposal_cart.js
  services/web/app/static/js/sample/shipment/cart.js
  services/web/app/static/js/sample/shipment/new.js
  services/web/app/static/js/sample/shipment/view.js
  services/web/app/static/js/sample/view.js
  services/web/app/templates/donor/sample/new_sample_step_three.html
  services/web/app/templates/macros.html
  services/web/app/templates/protocol/new_text.html
  services/web/app/templates/protocol/view.html
  services/web/app/templates/sample/add/step_three.html
  services/web/app/templates/setup/eula.html
  services/web/app/templates/storage/rack/new/from_file/step_two.html
  services/web/app/templates/template.html
Labels: limbus/frontend, limbus/modules/protocol, limbus/modules/setup

#185 fix/overview-panel
  services/web/app/misc/api.py
Labels: limbus/backend
